%h1 Listing raitings

%table
  %tr
    %th
    %th
    %th

  - @raitings.each do |raiting|
    %tr
      %td= link_to 'Show', raiting
      %td= link_to 'Edit', edit_raiting_path(raiting)
      %td= link_to 'Destroy', raiting, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Raiting', new_raiting_path
